Repository w3c/wot-thing-description, pull requests merged in 2020-09, with the labels that each got.

#914 fix: remove wrong "," in example 17 TD snippet
  index.html
  index.template.html
Labels: Editorial, Editorial REC Errata, FPWD 1.1

#896 WIP: Introduce minLength, maxLength, multipleOf, contentEncoding and contentMediaType in JSON Schema Ontology
  context/json-schema-context.jsonld
  context/td-context.ttl
  index.template.html
  ontology/json-schema.ttl
  ontology/jsonschema.html
Labels: FPWD 1.1, JSON Schema

#938 move Thing Model (former TDT) to a main section + formalize Thing Model + introduce placeholder
  index.template.html
  visualization/thing_model_td.svg
Labels: FPWD 1.1, Thing Model

#944 Combination security scheme
  context/td-context-1.1.jsonld
  context/td-context.ttl
  context/wot-security-context.jsonld
  index.html
  index.template.html
  ontology/td.html
  ontology/td.ttl
  ontology/wotsec.html
  ontology/wotsec.ttl
  testing/atrisk.css
  testing/inputs/atrisk.csv
  testing/inputs/results/template.csv
  testing/report.html
  validation/ext-td-json-schema-validation.json
  validation/td-json-schema-validation.json
  validation/td-validation.ttl
  visualization/td.svg
  visualization/wotsec.svg
Labels: Security
