Repository w3c/wot-thing-description, pull requests merged in 2023-09, with the labels that each got.

#1867 Documenting TD resources next to the spec
  README.md
Labels: by REC publication

#1861 Desired namespaces for 1.0 and 1.1 resources
  NAMESPACES.md
Labels: by REC publication

#1858 Remove mention of atrisk section
  index.html
  validation/td-validation.ttl
Labels: bug, by REC publication, changes index.html, Changes to PR HTML, Requires Director Approval

#1843 Fix well known operation types only
  index.html
  validation/td-validation.ttl
Labels: bug, by REC publication, changes index.html, Changes to PR HTML, Requires Director Approval

#1844 Update schema to not allow empty op array
  validation/td-json-schema-validation.json
  validation/tm-json-schema-validation.json
Labels: Editorial, JSON Schema

#1881 TD ontology fix v2
  ontology/hctl.html
  ontology/jsonschema.html
  ontology/td.html
  ontology/td.ttl
  ontology/templates.sparql
  ontology/wotsec.html
Labels: Editorial

#1862 Add tentative rec10 resources
  publication/rec/context/td-context-1.1.jsonld
  publication/rec/validation/td-json-schema-validation.json
Labels: by REC publication
