Repository w3c/wot-thing-description, pull requests merged in 2023-08, with the labels that each got.

#1864 Add work-items.md to the list
  PLANNING.md
Labels: organizational

#1871 Small README fixes
  README.md
Labels: organizational

#1842 Data schema clarification
  index.html
  index.template.html
Labels: Editorial, by REC publication, changes index.html, Changes to PR HTML

#1845 Example 44 fix
  index.html
  index.template.html
Labels: Editorial, by REC publication, changes index.html, Changes to PR HTML

#1868 Fix examples with wrong context url
  index.html
  index.template.html
Labels: bug, by REC publication, changes index.html, Changes to PR HTML

#1877 Remove editor's notes and convert two to normal note
  index.html
  index.template.html
Labels: Editorial, by REC publication, changes index.html, Changes to PR HTML

#1870 Fix schema links to static ones
  index.html
  index.template.html
Labels: Editorial, by REC publication, changes index.html, Changes to PR HTML
