Repository w3c/wot-thing-description, pull requests merged in 2024-04, with the labels that each got.

#1989 High-level Diagram for Toolchain and Requirements Improvement
  toolchain/README.md
  toolchain/requirements.md
  toolchain/tool-analysis.md
  toolchain/toolchain-highlevel.drawio
  toolchain/toolchain-highlevel.png
Labels: Tooling

#1999 Term inconsistency among the ontology and context file
  .github/workflows/prettify.yml
  ontology/td.html
  ontology/td.ttl
  ontology/wotsec.html
Labels: Semantics, ontology

#2001 errata modified for issue #1988, term inconsistency among ontology an…
  errata11.html
Labels: Editorial REC Errata
