Repository w3c/wot-thing-description, pull requests merged in 2025-10, with the labels that each got.

#2147 Add categorization for TD-related Architecture assertions 37 to 45
  planning/work-items/other-documents-sync/arch.md
Labels: document synchronisation

#2149 Arch Assertion Categories
  planning/work-items/other-documents-sync/arch.md
Labels: Editorial, document synchronisation

#2146 Fix some minor typos for Manageable Affordances Analysis
  planning/work-items/analysis/analysis-manageable-affordances.md
Labels: Editorial
